<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/products">Productos</a>
            <a href="/products?cid=">Productos (con CID)</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>